
/* Navigation Bar */

.navbar{
display: flex;
justify-content: space-between;
padding: 15px 30px;
margin: 0;
background-color: black;
box-shadow: 9px 4px 10px gray;
}
.logo{
font-size: 28px;
font-weight: 900;
color: orange;
text-decoration: none;
}

.nav-list{
 display:flex; 
padding: 0;
align-items: center;
gap: 50PX;
list-style: none;
margin: 0;
font-size: 16px;
color: white;
text-decoration: none;

}
.nav-list a{
text-decoration:none;
color: white;
transition: color 0.3s;
}
.nav-list a:hover{
    color: orange;
    cursor: pointer;
}
.signup-btn{
    border-radius: 8px;
    padding: 06px 12px;
    border:2px solid rgb(18, 1, 1);
    background-color: orange;
    cursor: pointer;
    color: #060504;
    text-decoration: none;
}
.signup-btn:hover{
    background-color:white;
}

.start-btn{

    color: #0e0c0a;
    display: inline-block;
    border: 2px solid black;
    padding: 8px 10px;
    border-radius : 14px;
    margin:0px;
    background-color:orange;
    text-decoration: none;
    margin-top:10px;  
}
.start-btn:hover{
    background-color: black;
    color:orange;
    cursor:pointer;
    
}

/* Hero Section */

.hero{
    
    color: white;
    
    background-color: #0f0909;
    min-height: 400px;
    padding :0px 20px;
    display: flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center;
    margin-top:10px;
    
}
.hero p{
    max-width:700px;
    text-align:center;
    

}
.hero h1{
    font-size:40px;
    font-weight: 500;
    margin-bottom:20px;
    text-align:center;
    
    
}

.clicks{
    display: flex;
    color:orange;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

/* CARDS */


.slids{
    text-decoration: none;
    margin: 0;
    border: 2px solid black;
    height: 250px;
    width: 200px;
    padding: 60px  20px 30px;
    border-radius: 12px;
    box-sizing: border-box;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    box-shadow: 0 4px 10px gray;
    transition: transform 0.3s;
}
.slids::before {

    content:"";

    position:absolute;

    width:80px;
    height:80px;

    /* border: 3px solid black; */
    border-radius:50%;

    background-color:white;
    border: 3px solid orange;
    transition: background-color 0.3s;
    top : 0;
    left:50%;

    transform: translate(-50%, -50%);
}
.cards{
    display:flex;
    gap :50px;
    justify-content:center;
    margin-top : 50px;
  
}
.slids span{
    font-size: 40px;
     /* margin-top:50px;   */
    position: absolute;
    top : -6px ;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slids h2{
    font-weight :500;
    margin:0;
    text-align:center;
    
}
.slids p{
    text-align:center;
    line-height:1.5;
}
.slids:hover{
    transform: translateY(-5px);
   
    box-shadow:10px 10px #495254;
}
.slids:hover::before{
background-color: #fff3d6;
}

